.home
  &-cover
    align-items center
    background-image url("../img/backgrounds/home-cover.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    display flex
    height 607px
    padding-left 125px

    &-title
      &-container
        margin-bottom 50px
        max-width 645px

  &-section
    &-title
      &-container
        margin-left 50px

  &-need
    margin 130px auto 160px auto
    width 1133px

    &-icon
      &-school
        height 72px
        width 78px

      &-corporate
        height 71px
        width 48px

      &-tourist
        height 66px
        width 54px

      &-container
        height 72px
        margin-bottom 40px

    &-panel
      align-items center
      background-color $sWhite
      box-shadow 0 27px 40px 0 rgba(0, 0, 0, 0.15)
      display flex
      flex-direction row
      height 322px
      margin-top 70px
      width 1133px

      &-content
        align-items center
        display flex
        flex-direction column
        width 377px

      &-title
        text-align center

    &-separator
      background-color $sGray
      height 230px
      width 1px

  &-units
    &-content
      margin 0 auto
      width 1133px

    &-cards
      &-container
        display flex
        flex-direction row
        margin 100px 0 110px 0
        width 1133px

    &-card
      align-items center
      box-shadow 0 27px 40px 0 rgba(0, 0, 0, 0.17)
      display flex
      flex-direction column
      height 356px
      padding-top 50px
      width 349px

      &:nth-child(2)
        margin 0 43px

    &-separator
      background-color $sGray
      height 1px
      margin 40px 0
      width 279px

    &-list
      &-container
        list-style none
        margin 0
        padding-left 21px

      &-content
        margin-bottom 30px
        position relative

      &-bullet
        background-color $sGreen
        height 6px
        left -20px
        position absolute
        top 5px
        transform rotate(45deg)
        width 6px

    &-button-container
      display flex
      justify-content center

  &-thanks
    display flex
    flex-direction row
    margin 140px 160px 140px 75px

    &-img
      height 644px
      width 491px

      &-container
        margin-right 100px

    &-separator
      background-color $sGreen
      height 1px
      margin 35px 0
      width 100%

    &-hours
      color $sBlackStrong

  &-certifications
    align-items center
    background-image url("../img/backgrounds/home-bg-6.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    display flex
    height 385px

    &-container
      display flex
      flex-direction row
      margin-top 60px
      width 1116px

    &-content
      margin 0 auto
      width 1116px

    &-img
      height 129px
      width 258px

      &-container
        box-shadow 0 27px 40px 0 rgba(0, 0, 0, 0.21)
        height 129px
        margin-right 28px
        width 258px
