.scholastico
  background-image url("../img/backgrounds/clients-background-bottom.png")
  background-position bottom
  background-repeat no-repeat
  background-size 100%
  margin 178px 0 0 0
  position relative

  &-content
    margin 0 auto
    max-width 1088px

    &-container
      display flex
      flex-wrap wrap

  &-title
    &-container
      margin 0 0 88px 28px

  &-card
    &-content
      background-color $sWhite
      box-shadow 0 27px 40px 0 rgba(0, 0, 0, 0.18)
      height 430px
      margin-bottom 30px
      min-width 342px
      padding 64px 24px 0 52px
      position relative
      width 342px
      z-index 1

      &:nth-child(2)
        margin 0 30px

    &-icon
      &-container
        align-items center
        display flex
        height 59px

      &-mission
        height 59px
        width 38px

      &-vision
        height 33px
        width 62px

      &-mantra
        height 51px
        width 55px

    &-text
      &-container
        height 169px
        overflow auto
        padding-right 19px

        & p
          margin-bottom 10px

      &-highlighted
        color #76b835

  &-background
    background-image url("../img/backgrounds/scholastico-background-right.png")
    background-position center
    background-repeat no-repeat
    background-size 100%
    bottom -141px
    height 1163px
    position absolute
    right 0
    width 525px

  &-banner.services-banner
    margin 115px 0 0 0

.fs-22
  color $sBlackLight
  font-size remify(22px)
  letter-spacing 0.2px
  line-height 75px

@media screen and (min-width 769px) and (max-width 1130px)
  .scholastico
    &-content
      max-width 714px

    &-card
      &-content
        &:nth-child(2)
          margin 0 0 0 30px

@media screen and (max-width 768px)
  .scholastico
    margin-top 130px

    &-content
      max-width 305px

    &-card
      &-content
        min-width 302px
        padding-left 35px
        width 305px

        &:nth-child(2)
          margin 0 0 30px 0

    &-banner.services-banner
      margin-top 70px
