{% extends "partials/base.njk" %}

{% block meta %}
<title>Scholastico | Clientes</title>
{% endblock %}

{% block content %}
<div class="clients">
  <div class="clients-content">
    <div class="clients-title-container">
      <h1 class="fs-mega helvetica-n-medium">Scholastico</h1>
    </div>
    <div class="clients-cards-container">
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-aeromexico" src="img/logos/aeromexico.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-bancomer" src="img/logos/bancomer.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-cargill" src="img/logos/cargill.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-dmazenod" src="img/logos/dmazenod.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-tm" src="img/logos/tm.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-daimler" src="img/logos/daimler.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-sierranevada" src="img/logos/sierranevada.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-posadas" src="img/logos/posadas.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-hp" src="img/logos/hp.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-jefferson" src="img/logos/jefferson.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-lancaster" src="img/logos/lancaster.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-northridge" src="img/logos/northridge.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-pernod" src="img/logos/pernod.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-boehringer" src="img/logos/boehringer.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-palaciohierro" src="img/logos/palaciohierro.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-tecmonterrey" src="img/logos/tecmonterrey.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-edron" src="img/logos/edron.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-unilever" src="img/logos/unilever.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-anahuac" src="img/logos/anahuac.png">
        </div>
      </div>
      <div class="clients-card">
        <div class="clients-card-logo-container">
          <img class="clients-card-logo-westhill" src="img/logos/westhill.png">
        </div>
      </div>
    </div>
  </div>
  <div class="clients-background"></div>
</div>
{% endblock %}