{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="home-container">
  <div class="home-cover">
    <div>
      <div class="home-cover-title-container">
        <h1 class="fs-giga helvetica-n-bold">Renta de autobuses para lo que necesites</h1>
      </div>
      <a href="vehiculos.html">
        <button class="scholastico-button home-cover-button helvetica-n-bold">conoce más</button>
      </a>
    </div>
  </div>
  <div class="home-bg-one"></div>
  <div class="home-bg-two"></div>
  <div class="home-merge">
    <div class="home-need">
      <div class="home-section-title-container">
        <h2 class="fs-mega helvetica-n-medium">Para lo que necesites</h2>
      </div>
      <div class="home-need-panel helvetica-n-medium">
        <div class="home-need-panel-content">
          <div class="home-need-panel-card">
            <div class="home-need-icon-container">
              <img class="home-need-icon-school" src="img/icons/icon-school.png">
            </div>
            <span class="fs-h2">Transporte Escolar</span>
            <div class="home-need-panel-card-paragraph">
              <p class="fs-h4 helvetica-n">
                La línea más segura para llevar y regresar a los pequeños de la casa a la escuela.
              </p>
            </div>
            <a href="contacto.html">
              <button class="scholastico-button helvetica-n-bold">contacto</button>
            </a>
          </div>
          <div class="home-need-icon-container">
            <img class="home-need-icon-school" src="img/icons/icon-school.png">
          </div>
          <span class="fs-h2 home-need-panel-title">Transporte<br>Escolar</span>
        </div>
        <div class="home-need-separator"></div>
        <div class="home-need-panel-content">
          <div class="home-need-panel-card">
            <div class="home-need-icon-container">
              <img class="home-need-icon-corporate" src="img/icons/icon-corporate.png">
            </div>
            <span class="fs-h2">Transporte Corporativo</span>
            <div class="home-need-panel-card-paragraph">
              <p class="fs-h4 helvetica-n">
                Transporte ejecutivo superior para el personal de tu empresa. No más retarnos, no más ausencias.
              </p>
            </div>
            <a href="contacto.html">
              <button class="scholastico-button helvetica-n-bold">contacto</button>
            </a>
          </div>
          <div class="home-need-icon-container">
            <img class="home-need-icon-corporate" src="img/icons/icon-corporate.png">
          </div>
          <span class="fs-h2 home-need-panel-title">Transporte<br>Corporativo</span>
        </div>
        <div class="home-need-separator"></div>
        <div class="home-need-panel-content">
          <div class="home-need-panel-card">
            <div class="home-need-icon-container">
              <img class="home-need-icon-tourist" src="img/icons/icon-tourist.png">
            </div>
            <span class="fs-h2">Transporte Turístico</span>
            <div class="home-need-panel-card-paragraph">
              <p class="fs-h4 helvetica-n">
                ¿Sales de puente? ¿Una escapada este fin de semana? ¡Deja que Scholastico te lleve con bien a tu destino!
              </p>
            </div>
            <a href="contacto.html">
              <button class="scholastico-button helvetica-n-bold">contacto</button>
            </a>
          </div>
          <div class="home-need-icon-container">
            <img class="home-need-icon-tourist" src="img/icons/icon-tourist.png">
          </div>
          <span class="fs-h2 home-need-panel-title">Transporte<br>Turístico</span>
        </div>
      </div>
    </div>
    <div class="home-units">
      <div class="home-units-content">
        <div class="home-section-title-container">
          <h2 class="fs-mega helvetica-n-medium">Nuestras unidades</h2>
        </div>
        <div class="home-units-cards-container">
          <div class="home-units-card">
            <div class="home-units-card-hover">
              <img class="home-units-card-img" src="">
            </div>
            <div>
              <span>Mercedes-Benz</span>
            </div>
            <div class="home-units-separator"></div>
            <ul class="home-units-list-container">
              <div class="home-units-list-content" data-image="id1">
                <div class="home-units-list-bullet"></div>
                <li class="home-units-list-item">Alliado</li>
              </div>
              <div class="home-units-list-content" data-image="id1">
                <div class="home-units-list-bullet"></div>
                <li class="home-units-list-item">Torino</li>
              </div>
              <div class="home-units-list-content" data-image="id1">
                <div class="home-units-list-bullet"></div>
                <li class="home-units-list-item">Zafiro</li>
              </div>
              <div class="home-units-list-content" data-image="id1">
                <div class="home-units-list-bullet"></div>
                <li class="home-units-list-item">Sprinter</li>
              </div>
            </ul>
          </div>
          <div class="home-units-card">
            <div class="home-units-card-hover">
              <img class="home-units-card-img" src="">
            </div>
            <div>
              <span>Volkswagen</span>
            </div>
            <div class="home-units-separator"></div>
            <ul class="home-units-list-container">
              <div class="home-units-list-content" data-image="id1">
                <div class="home-units-list-bullet"></div>
                <li class="home-units-list-item">Sigma</li>
              </div>
              <div class="home-units-list-content" data-image="id1">
                <div class="home-units-list-bullet"></div>
                <li class="home-units-list-item">Orion</li>
              </div>
            </ul>
          </div>
          <div class="home-units-card">
            <div class="home-units-card-hover">
              <img class="home-units-card-img" src="">
            </div>
            <div>
              <span>Nissan</span>
            </div>
            <div class="home-units-separator"></div>
            <ul class="home-units-list-container">
              <div class="home-units-list-content" data-image="id1">
                <div class="home-units-list-bullet"></div>
                <li class="home-units-list-item">Urvan</li>
              </div>
            </ul>
          </div>
        </div>
        <div class="home-units-button-container">
          <a href="vehiculos.html">
            <button class="scholastico-button helvetica-n-bold">ver todas</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-thanks">
    <div class="home-bg-four"></div>
    <div class="home-thanks-img-container">
      <img class="home-thanks-img" src="img/home/home-bus.jpg">
    </div>
    <div class="home-thanks-info helvetica-n fs-h3">
      <div class="home-thanks-title-container">
        <h2 class="fs-mega helvetica-n-medium">¡Gracias por interesarte en Scholastico!</h2>
      </div>
      <div class="scholastico-paragraph-margin">
        <p>
          Para cotizar un servicio de <b>transporte escolar o corporativo</b> llama al <b>5884-7012 ext. 106</b>, o escribe a <b>jessica.martinez@scholastico.mx</b>.
        </p>
      </div>
      <div>
        <p>
          Para cotizar un <b>viaje único</b>, al <b>5884-7012 ext. 100</b>, o a <b>recepcion.m2@scholastico.mx</b>.
        </p>
      </div>
      <div class="home-thanks-separator"></div>
      <div>
        <h3 class="fs-h2 helvetica-n-medium home-thanks-hours">Horarios de atención</h3>
        <div class="scholastico-paragraph-margin">
          <p>
            Lunes a viernes de 9:00 a 16:00.
          </p>
        </div>
        <span class="helvetica-n-medium home-thanks-serve">¡Esperamos poderte servir! Saludos.</span>
      </div>
      <div class="home-thanks-button-container">
        <a href="contacto.html">
          <button class="scholastico-button helvetica-n-bold">cotiza</button>
        </a>
      </div>
    </div>
  </div>
  <div class="home-certifications">
    <div class="home-certifications-content">
      <div class="home-section-title-container">
        <h2 class="fs-mega helvetica-n-medium">Certificaciones</h2>
      </div>
      <div class="home-certifications-container">
        <div class="home-certifications-img-container">
          <img class="home-certifications-img" src="img/home/certification-conevyt.jpg">
        </div>
        <div class="home-certifications-img-container">
          <img class="home-certifications-img" src="img/home/certification-semarnat.jpg">
        </div>
        <div class="home-certifications-img-container">
          <img class="home-certifications-img" src="img/home/certification-stps.jpg">
        </div>
        <div class="home-certifications-img-container">
          <img class="home-certifications-img" src="img/home/certification-sct.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}