{% extends "partials/base.njk" %}

{% block meta %}
<title>Scholastico | Scholastico</title>
{% endblock %}

{% block content %}
<div class="scholastico">
  <div class="scholastico-content">
    <div class="scholastico-title-container">
      <h1 class="fs-mega helvetica-n-medium">Scholastico</h1>
    </div>
    <div class="scholastico-content-container">
      <div class="scholastico-card-content">
        <div class="scholastico-card-icon-container">
          <img class="scholastico-card-icon-mission" src="img/icons/icon-mission.png">
        </div>
        <div>
          <h3 class="fs-22 helvetica-n-medium">Misión</h3>
        </div>
        <div class="scholastico-card-text-container fs-h3 helvetica-n">
          <p>
            Que las <span class="scholastico-card-text-highlighted helvetica-n-bold">familias</span> tengan una vida más <span class="scholastico-card-text-highlighted helvetica-n-bold">cómoda</span> y <span class="scholastico-card-text-highlighted helvetica-n-bold">protegida</span> al transportarlos con la máxima <span class="scholastico-card-text-highlighted helvetica-n-bold">seguridad</span>, <span class="scholastico-card-text-highlighted helvetica-n-bold">calidad</span> y <span class="scholastico-card-text-highlighted helvetica-n-bold">eficiencia</span>.
          </p>
        </div>
      </div>

      <div class="scholastico-card-content">
        <div class="scholastico-card-icon-container">
          <img class="scholastico-card-icon-vision" src="img/icons/icon-vision.png">
        </div>
        <div>
          <h3 class="fs-22 helvetica-n-medium">Visión</h3>
        </div>
        <div class="scholastico-card-text-container fs-h3 helvetica-n">
          <p>
            Nos debemos a la <span class="scholastico-card-text-highlighted helvetica-n-bold">sociedad</span>, por lo tanto debemos ser <span class="scholastico-card-text-highlighted helvetica-n-bold">reconocidos</span> como una organización de <span class="scholastico-card-text-highlighted helvetica-n-bold">calidad</span>, <span class="scholastico-card-text-highlighted helvetica-n-bold">eficiente</span> y <span class="scholastico-card-text-highlighted helvetica-n-bold">comprometida</span> con su <span class="scholastico-card-text-highlighted helvetica-n-bold">entorno</span>.
          </p>
          <p>
            Nuestros clientes, trabajadores y proveedores confían en nosotros, sienten orgullo y satisfacción de que mantengamos relaciones, la comunidad nos considera honestos y preocupados por cuidar y promover un entorno ecológico limpio y sano.
          </p>
        </div>
      </div>

      <div class="scholastico-card-content">
        <div class="scholastico-card-icon-container">
          <img class="scholastico-card-icon-mantra" src="img/icons/icon-mantra.png">
        </div>
        <div>
          <h3 class="fs-22 helvetica-n-medium">Nuestro mantra</h3>
        </div>
        <div class="scholastico-card-text-container fs-h3 helvetica-n">
          <p>
            <span class="helvetica-n-medium">Integridad:</span> Somos auténticos.<br>
            <span class="helvetica-n-medium">Calidad:</span> Lo que hacemos, lo hacemos bien.<br>
            <span class="helvetica-n-medium">Liderazgo:</span> La pasión por forjar un futuro .
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="scholastico-background"></div>
  <div class="services-banner scholastico-banner"></div>
</div>
{% endblock %}