{% extends "partials/base.njk" %}

{% block meta %}
<title>Scholastico | Servicios</title>
{% endblock %}

{% block content %}
<div class="services">
  <div class="services-bg-top"></div>
  <div class="home-need">
    <div class="home-section-title-container">
      <h2 class="fs-mega helvetica-n-medium">Servicios</h2>
    </div>
    <div class="home-need-panel helvetica-n-medium">
      <div class="home-need-panel-content">
        <div class="home-need-panel-card">
          <div class="home-need-icon-container">
            <img class="home-need-icon-school" src="img/icons/icon-school.png">
          </div>
          <span class="fs-h2">Transporte Escolar</span>
          <div class="home-need-panel-card-paragraph">
            <p class="fs-h4 helvetica-n">
              La línea más segura para llevar y regresar a los pequeños de la casa a la escuela.
            </p>
          </div>
          <a href="contacto.html">
            <button class="scholastico-button helvetica-n-bold">contacto</button>
          </a>
        </div>
        <div class="home-need-icon-container">
          <img class="home-need-icon-school" src="img/icons/icon-school.png">
        </div>
        <span class="fs-h2 home-need-panel-title">Transporte<br>Escolar</span>
      </div>
      <div class="home-need-separator"></div>
      <div class="home-need-panel-content">
        <div class="home-need-panel-card">
          <div class="home-need-icon-container">
            <img class="home-need-icon-corporate" src="img/icons/icon-corporate.png">
          </div>
          <span class="fs-h2">Transporte Corporativo</span>
          <div class="home-need-panel-card-paragraph">
            <p class="fs-h4 helvetica-n">
              Transporte ejecutivo superior para el personal de tu empresa. No más retarnos, no más ausencias.
            </p>
          </div>
          <a href="contacto.html">
            <button class="scholastico-button helvetica-n-bold">contacto</button>
          </a>
        </div>
        <div class="home-need-icon-container">
          <img class="home-need-icon-corporate" src="img/icons/icon-corporate.png">
        </div>
        <span class="fs-h2 home-need-panel-title">Transporte<br>Corporativo</span>
      </div>
      <div class="home-need-separator"></div>
      <div class="home-need-panel-content">
        <div class="home-need-panel-card">
          <div class="home-need-icon-container">
            <img class="home-need-icon-tourist" src="img/icons/icon-tourist.png">
          </div>
          <span class="fs-h2">Transporte Turístico</span>
          <div class="home-need-panel-card-paragraph">
            <p class="fs-h4 helvetica-n">
              ¿Sales de puente? ¿Una escapada este fin de semana? ¡Deja que Scholastico te lleve con bien a tu destino!
            </p>
          </div>
          <a href="contacto.html">
            <button class="scholastico-button helvetica-n-bold">contacto</button>
          </a>
        </div>
        <div class="home-need-icon-container">
          <img class="home-need-icon-tourist" src="img/icons/icon-tourist.png">
        </div>
        <span class="fs-h2 home-need-panel-title">Transporte<br>Turístico</span>
      </div>
    </div>
  </div>

  <div class="services-schools">
    <div class="services-schools-img-container">
      <img class="services-schools-img" src="img/services/services-img-one.jpg">
    </div>
    <div>
      <h2 class="fs-mega helvetica-n-medium">Escuelas</h2>
      <h3 class="services-schools-subtitle helvetica-n-medium">Nuestro servicio especial para escuelas incluye:</h3>
      <div class="services-separator"></div>
      <ul class="services-ul helvetica-n">
        <div class="scholastico-list-item">
          <li>Diseño de recorridos</li>
        </div>
        <div class="scholastico-list-item">
          <li>Monitoreo satelital 24/7</li>
        </div>
        <div class="scholastico-list-item">
          <li>Comunicación</li>
        </div>
        <div class="scholastico-list-item">
          <li>Vehículos 90% nuevos</li>
        </div>
        <div class="scholastico-list-item">
          <li>Cuidadoso proceso en la selección de personal</li>
        </div>
        <div class="scholastico-list-item">
          <li>Constante capacitación de nuestro personal</li>
        </div>
        <div class="scholastico-list-item">
          <li>Medidas de seguridad</li>
        </div>
      </ul>
    </div>
  </div>

  <div class="services-companies">
    <div>
      <h2 class="fs-mega helvetica-n-medium">Empresas</h2>
      <h3 class="services-schools-subtitle helvetica-n-medium">Nuestro servicio especial para corporativos incluye:</h3>
      <div class="services-separator"></div>
      <ul class="services-ul helvetica-n">
        <div class="scholastico-list-item">
          <li>Diseño de recorridos</li>
        </div>
        <div class="scholastico-list-item">
          <li>Monitoreo satelital 24/7</li>
        </div>
        <div class="scholastico-list-item">
          <li>Comunicación</li>
        </div>
        <div class="scholastico-list-item">
          <li>Operadores capacitados y profesionales</li>
        </div>
        <div class="scholastico-list-item">
          <li>Vehículos 90% nuevos</li>
        </div>
        <div class="scholastico-list-item">
          <li>Contamos con servicios de internet, cámaras, etc. Con el fin de adaptarnos a las necesidades del cliente.</li>
        </div>
      </ul>
    </div>
    <div class="services-companies-img-container">
      <img class="services-companies-img" src="img/services/services-img-two.jpg">
    </div>
  </div>

  <div class="services-tourism">
    <div class="services-tourism-background"></div>
    <div class="services-tourism-content">
      <div class="services-tourism-img-container">
        <img class="services-tourism-img" src="img/services/services-img-three.png">
      </div>
      <div class="services-tourism-info-container">
        <h2 class="fs-mega helvetica-n-medium">Turismo</h2>
        <div class="services-tourism-subtitle-container">
          <h3 class="services-schools-subtitle helvetica-n-medium">Viaja con nosotros y conoce nuestros beneficios</h3>
        </div>
        <div class="services-separator services-tourism-separator"></div>
        <ul class="services-ul services-tourism-ul helvetica-n">
          <div>
            <div class="scholastico-list-item">
              <li>Paseos</li>
            </div>
            <div class="scholastico-list-item">
              <li>Salidas educativas</li>
            </div>
            <div class="scholastico-list-item">
              <li>Cursos de verano</li>
            </div>
            <div class="scholastico-list-item">
              <li>Viajes</li>
            </div>
          </div>
          <div>
            <div class="scholastico-list-item">
              <li>Excursiones</li>
            </div>
            <div class="scholastico-list-item">
              <li>Convenciones</li>
            </div>
            <div class="scholastico-list-item">
              <li>Celebraciones</li>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="services-banner"></div>

  <div class="services-our">
    <div class="services-our-title-container">
      <h2 class="fs-mega helvetica-n-medium">Nuestros servicios</h2>
    </div>
    <div class="services-carousel owl-carousel">
      <div class="services-our-card">
        <h3 class="fs-h1 helvetica-n-medium">Variedad de unidades</h3>
        <div class="services-our-separator"></div>
        <div class="services-our-paragraph-container">
          <p class="fs-h3 helvetica-n">
            Contamos con una amplia flotilla para todo tipo de evento desde vehículos para transporte escolar hasta camiones de alto lujo para ejecutivos.
          </p>
        </div>
      </div>
      <div class="services-our-card">
        <h3 class="fs-h1 helvetica-n-medium">Personal capacitado</h3>
        <div class="services-our-separator"></div>
        <div class="services-our-paragraph-container">
          <p class="fs-h3 helvetica-n">
            Contamos con cursos de capacitación y actualización del personal para que sepan reaccionar ante cualquier situación y que la atención al cliente sea su prioridad.
          </p>
        </div>
      </div>
      <div class="services-our-card">
        <h3 class="fs-h1 helvetica-n-medium">Variedad de unidades</h3>
        <div class="services-our-separator"></div>
        <div class="services-our-paragraph-container">
          <p class="fs-h3 helvetica-n">
            Contamos con una amplia flotilla para todo tipo de evento desde vehículos para transporte escolar hasta camiones de alto lujo para ejecutivos.
          </p>
        </div>
      </div>
      <div class="services-our-card">
        <h3 class="fs-h1 helvetica-n-medium">Personal capacitado</h3>
        <div class="services-our-separator"></div>
        <div class="services-our-paragraph-container">
          <p class="fs-h3 helvetica-n">
            Contamos con cursos de capacitación y actualización del personal para que sepan reaccionar ante cualquier situación y que la atención al cliente sea su prioridad.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
