<footer class="footer helvetica-n-medium">
  <div>
    <a href="index.html">
      <img class="footer-logo" src="img/logos/footer-logo.png" alt=" scholastica footer logo">
      <img class="footer-logo-mobile" src="img/logos/footer-logo-mobile.png" alt=" scholastica footer logo mobile">
    </a>
  </div>
  <div class="footer-info-container">
    <div class="footer-sides-separator">
      <div class="footer-privacy-container">
        <a href="">
          <span>Aviso de privacidad</span>
        </a>
        <div class="footer-icon-container">
          <a href="https://www.instagram.com/transportes_scholastico/" target="_blank">
            <img class="footer-icon-insta" src="img/icons/icon-insta.png" alt="instagram-icon">
          </a>
          <a href="https://www.facebook.com/scholasticomx/" target="_blank">
            <img class="footer-icon-fb" src="img/icons/icon-fb.png" alt="facebook-icon">
          </a>
        </div>
      </div>
      <a href="">
        <span>Bolsa de trabajo</span>
      </a>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-sides-separator">
      <span>Patrocinador oficial:</span>
      <div class="footer-logo-mercedes-container">
        <img class="footer-logo-mercedes" src="img/logos/mercedes-logo.png" alt="mercedes-logo">
      </div>
    </div>
  </div>

  <div class="footer-info-container-mobile helvetica-n-bold">
    <div class="footer-sides-separator">
      <div class="footer-privacy-container">
        <a href="">
          <span>Aviso de privacidad</span>
        </a>
      </div>
      <a href="">
        <span>Bolsa de trabajo</span>
      </a>
      <div class="footer-icon-container">
        <a href="https://www.instagram.com/transportes_scholastico/" target="_blank">
          <img class="footer-icon-insta" src="img/icons/icon-insta.png" alt="instagram-icon">
        </a>
        <a href="https://www.facebook.com/scholasticomx/" target="_blank">
          <img class="footer-icon-fb" src="img/icons/icon-fb.png" alt="facebook-icon">
        </a>
      </div>
    </div>
    <div class="footer-separator"></div>
    <div class="footer-sides-separator">
      <span>Patrocinador oficial:</span>
      <div class="footer-logo-mercedes-container">
        <img class="footer-logo-mercedes" src="img/logos/mercedes-logo.png" alt="mercedes-logo">
      </div>
    </div>
    <div class="footer-copyright-container">
      <span class="fs-h4 helvetica-n">Scholastico 2018. Copyright ®</span>
    </div>
  </div>
</footer>
