<nav class="navbar">
  <div class="navbar-logo-container">
    <img class="navbar-logo" src="img/logos/navbar-logo.png">
  </div>
  <div class="navbar-sites-container helvetica-n-bold">
    <div class="navbar-sites-content">
      <div class="navbar-link {% if section == 'index' %} navbar-link-selected {% endif %}"></div>
      <a href="index.html">
        <span>inicio</span>
      </a>
    </div>
    <div class="navbar-sites-content">
      <div class="navbar-link {% if section == 'servicios' %} navbar-link-selected {% endif %}"></div>
      <a href="servicios.html">
        <span>servicios</span>
      </a>
    </div>
    <div class="navbar-sites-content">
      <div class="navbar-link {% if section == 'vehiculos' %} navbar-link-selected {% endif %}"></div>
      <a href="vehiculos.html">
        <span>vehiculos</span>
      </a>
    </div>
    <div class="navbar-sites-content">
      <div class="navbar-link {% if section == 'scholastico' %} navbar-link-selected {% endif %}"></div>
      <a href="scholastico.html">
        <span>scholastico</span>
      </a>
    </div>
    <div class="navbar-sites-content">
      <div class="navbar-link {% if section == 'clientes' %} navbar-link-selected {% endif %}"></div>
      <a href="clientes.html">
        <span>clientes</span>
      </a>
    </div>
    <div class="navbar-sites-content">
      <div class="navbar-link {% if section == 'contacto' %} navbar-link-selected {% endif %}"></div>
      <a href="contacto.html">
        <span>contacto</span>
      </a>
    </div>
  </div>
</nav>