.navbar
  align-items center
  background transparent
  display flex
  height 116px
  justify-content space-between
  left 0
  padding 0 120px
  position fixed
  top 0
  width 100%
  z-index 12

  &-logo
    height 62px
    width 175px

  &-sites
    &-container
      display flex
      flex-direction row

    &-content
      margin 0 5px
      padding 10px
      position relative

      &:hover
        .navbar-link
          background-color $sGreen
          height 3px
          opacity 1
          transition 0.3s

      & span
        color $sWhite
        letter-spacing 2.2px
        font-size remify(14px)
        text-transform uppercase

  &-link
    left 0
    opacity 0
    position absolute
    right 0
    top 0
    transition 0.3s

    &-selected
      background-color $sGreen
      height 3px
      opacity 1