@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue.svg#Roboto-Light') format('svg');
  font-weight: $regular;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueBold.woff') format('woff'),
    url('../fonts/HelveticaNeueBold.ttf')  format('truetype'),
    url('../fonts/HelveticaNeueBold.svg#Roboto-Light') format('svg');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Medium.svg#Roboto-Light') format('svg');
  font-weight: $medium;
  font-style: normal;
}

.helvetica-n
  font-family 'HelveticaNeue'
  font-weight $regular
  font-style normal

.helvetica-n-bold
  font-family 'HelveticaNeue'
  font-weight $bold
  font-style normal

.helvetica-n-medium
  font-family 'HelveticaNeue'
  font-weight $medium
  font-style normal

.fs-giga
  color $sWhite
  font-size $fsGiga
  letter-spacing 0.4px
  line-height 75px

.fs-mega
  color $sBlackStrong
  font-size $fsMega
  letter-spacing 0.4px
  line-height 59px

.fs-h2
  color $sBlackLight
  font-size $fsH2
  letter-spacing 0.1px
  line-height 30px

.fs-h3
  color $sBlackLight
  font-size $fsH3
  letter-spacing -0.1px
  line-height 31px

.fs-h4
  color $sBlackLight
  font-size $fsH4
  letter-spacing 0.1px
  line-height 27px

@media screen and (max-width 768px)
  .fs-giga
    font-size $fsGigaM
    line-height 35px

  .fs-mega
    font-size $fsMegaM
    line-height 30px
