// COLORS
$errorColor = #ff3636
$successColor = #149a14

$sBlack = #4c4c4c
$sBlackLight = #7a7a7a
$sBlackStrong = #353535
$sGray = #dcdcdc
$sGreen = #8bbd34
$sGreenLight = #b5e030
$sGreenStrong = #869c42
$sWhite = #ffffff

// Base font-size
$baseFontSize = 16

// Font Sizes

$fsGiga = remify(62px)
$fsMega = remify(38px)

$fsH1 = remify(28px)
$fsH2 = remify(21px)
$fsH3 = remify(17px)
$fsH4 = remify(15px)
$fsH5 = remify(14px)
$fsH6 = remify(13px)

$fsMilli = remify(12px)
$fsMicro = remify(10px)

// Fonts in Mobile

$fsGigaM = remify(40px)
$fsMegaM = remify(30px)

$fsH1M = remify(28px)
$fsH2M = remify(21px)
$fsH3M = remify(17px)
$fsH4M = remify(15px)
$fsH5M = remify(14px)
$fsH6M = remify(13px)

$fsMilliM = remify(12px)
$fsMicroM = remify(10px)

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black